* {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  position: relative;
  /* don't add a height or it will mess up min-height*/
  min-height: 100vh;
  font-size: 11px;
}

.navbar-container {
  top: 0%;
  background-color: transparent;
  height: 50px;
  width: 100%;
  display: flex;
  /*flex-direction: row;*/
  justify-content: flex-end;
  align-items: center;

  /*always use flex-end for justify and alighn when talking aboit
  far left and far right
  align-items: center;*/
}
/*.nav-bar-content-1 no need for a content1 since we don't have
more than 1 block of code which goes int own section
  height: inherit;
  /*height: 100%;
  width: 100%;
  display: flex;
justify-content: space-between;* that won't work either because it
will space in the whole container/ 
 margin: 5px will give a margin to the container not each item*/

.a-content {
  margin-right: 10px; /*best way to make some space between each
  content*/
}

a:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.image-container {
  height: 50%; /* easiest way to make something fit inside of another
  div no need to use height inherit since it's direct parent already have
  this height*/
}
.profile-pic {
  height: 100%; /*fills in the anchor image-container*/
  border-radius: 50%;
  position: relative;
  
}
.application_logo {
  height: 100%;
  position: relative;
  top: 0px;
}

.profile-pic:hover {
  box-shadow: 0px 0px 1px 2px rgba(192, 192, 192, 0.9);
}
.application_logo:hover {
  box-shadow: 0px 0px 1px 2px rgba(192, 192, 192, 0.9);
}

main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.google-image {
  position: relative;
  bottom: 70px;
}
.btn {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 25px;

  /*it will originally just fit it the buttons only
  but we set the widht to be 100% so we should be good*/
}
.btn1 {
  position: relative;
  height: 30px;
  width: 140px;
  right: 20px;
  border-width: 0px; /*so there is no border visible*/
  /*not using margin because it would push the other box*/
}
.btn2 {
  position: relative;
  width: 140px;
  left: 20px;
  border-width: 0px; /*so there is no border visible*/
  /*not using margin because it would push the other box*/
}

.searchbar-wrapp {
  position: relative;
  bottom: 60px;
  height: 38px;
  width: 500px;
  border: rgb(242, 242, 242) solid 2px; /* 2px is the width of the borders and 1px is too small
  we put a less visible color so that we have the illusion taht the border is smaller than 1px.*/
  border-radius: 20px;
  display: flex;
}
.searchbar-search-image {
  position: absolute;
  height: 45%;
  top: 50%;
  left: 18px;
  transform: translate(-50%, -50%);
}

#searchbar-audio-image {
  position: absolute;
  right: 0px;
  height: 60%;
  width: 22px;
  top: 50%;
  transform: translate(-50%, -50%);

  /*for some god saken reason, changin this to id ill fix the shakiness lol*/
}

#audio-image {
  height: 100%;
  width: 100%;
  /*for some god saken reason, changin this to id ill fix the shakiness lol*/
}

.searchbar {
  position: absolute;
  outline: none;
  top: 0px;
  left: 30px;
  height: 90%;
  width: 85%;
  border-width: 0px;
  align-self: center;
}

.searchbar-wrapp:hover {
  box-shadow: 0px 0px 2px 2px rgba(192, 192, 192, 0.9);
}
.btn1:hover {
  box-shadow: 0px 0px 2px 2px rgba(192, 192, 192, 0.9);
}

.btn2:hover{
  box-shadow: 0px 0px 2px 2px rgba(192, 192, 192, 0.9);
}

.a-text-lang {
  position: relative;
  left: 4px;
}
footer {
  /*footer2 seems to be going below footer1 when media gets activated*/
  display: flex;
  height: 40px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgb(242, 242, 242);
}
.footer-1 {
  font-size: 12px;
  height: inherit;
  /*don't set a width, kinda dumb to do tha*/
  display: flex;
  width: 50%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-2 {
  font-size: 12px;
  width: 50%;

  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 650px) {
  footer {
    flex-direction: column;
    justify-content: center;
  }
}
